extends ../layout

block content
  .container
    if messages
      .row
        .col-md-12
          .alerts
            each message in messages.info
              div(class="alert alert-info alert-dismissable fade in", role="alert")
                button(type="button", class="close", data-dismiss="alert")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
                p.
                  <strong>Heads up!</strong> #{message}
            each message in messages.success
              div(class="alert alert-success alert-dismissable fade in", role="alert")
                button(type="button", class="close", data-dismiss="alert")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
                p.
                  <strong>Success!</strong> #{message}
            each message in messages.error
              div(class="alert alert-danger alert-dismissable fade in", role="alert")
                button(type="button", class="close", data-dismiss="alert")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
                p.
                  <strong>Whoops!</strong> #{message}

    .row
      .col-md-12
        .page-header
          h1 Meetups Manager
    .row
      .col-md-12
        table(class='table table-bordered table-hover')
          thead
            th Meetup Id
            th Name
            th Slug
            th Coordinates
            th Join Mode
            th Attendees
          tbody
            each meetup in meetups
              tr
                td= meetup.meetup_id
                td= meetup.name
                td= meetup.slug
                td  (#{meetup.coordinates.latitude}, #{meetup.coordinates.longitude})
                td= meetup.join_mode
                td= meetup.who

    .row
      .col-md-6
        h2 Add Meetup
        p Adding a Meetup to the admin is very simple, just type in the meetup slug and we'll fill in all the other details for you!
        form(role='form', action='/meetups', method='POST')
          div.form-group
            label(for="slug") Meetup URL Name
            input(type="text", class="form-control", id="slug", name="slug", placeholder="Data-Community-DC")
          button(type="submit", class="btn btn-default") Submit

block append javascript
  script.
    $(function() {
      setTimeout(function() {
        $('.alert').alert('close');
      }, 3000);
    });
